.cardLink {
    text-decoration: none;
    color: inherit;
}

.card {
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;

    background-color: var(--background-color-lightened);

    transition: transform 0.1s ease-in-out, box-shadow 0.4s ease-in-out;
    transform-origin: center;

    color: var(--white);
}

.card p {
    text-align: center;
}

.card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transform: scale(1.01);
    color: var(--white);
}

.cardEnd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.seeMoreIcon {
    height: 32px;
    color: var(--accent1);
    transition: transform 0.3s ease;
}

.card:hover .seeMoreIcon {
    color: var(--accent1-link-hover);
    transform: scale(1.2);
}

.releaseDate {

}
