.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    max-width: var(--max-width);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 1rem;
}

.gitHub, .linkedIn {
    font-size: 2rem;
    color: var(--accent1);
    transition: fill 0.3s ease, transform 0.3s ease;
}

.gitHub:hover, .linkedIn:hover {
    cursor: pointer;
    color: var(--accent1-link-hover);
    transform: scale(1.2);
}