.container {
    background-color: var(--background-color-darkened);
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 1rem;
}