:root {
  --white: #fffffd;
  --black: #16171e;
  --background-color: #34344A;
  --background-color-lightened: #48486b;
  --accent1: #3cc3e0;
  --accent2: #f4963e;

  --base-line-height: 1.8;
}

* {
  font-family: var(--cabin), 'sans-serif';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--neuton), 'sans-serif';
  letter-spacing: 1.5px;
  color: #f4963e;
}

h1,
h2 {
  font-weight: 800;
}

h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;

}

h3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

h5 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

h6 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}


body {
  background-color: var(--background-color);
  color: #fffffd;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 0;
}

body>* {
  max-width: 80ch;
  width: 100%;
}

header {
  width: 100%;
}
ol,
ul,
p {
  line-height: var(--base-line-height);
  font-size: large;
  text-align: justify;
}

a {
  color: #3cc3e0;
  text-decoration: underline;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
  color: #53d4f0;
  text-decoration: none;
}

code {
  font-family: var(--fira-code), monospace;
  border-radius: 0.2rem;
  background-color: var(--background-color-lightened);
  padding: 0.2rem 0.3rem 0.2rem 0.3rem;
  
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}