/* white: #fffffd */
/* black: #16171e */
/* background-color: #38385b */
/* accent1: #3cc3e0 */
/* accent2: #f4963e */

* {
  font-family: var(--wellfleet), monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--luckiest-guy), 'sans-serif';
  letter-spacing: 1.5px;
  color: #f4963e;
}

h1,
h2 {
  font-weight: 600;
}

h3,
h4,
h5,
h6 {
  font-weight: 500;
}

body {
  background-color: #35355a;
  color: #fffffd;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 0;
}

body>* {
  max-width: 80ch;
  width: 100%;
}

header {
  width: 100%;
}

p {
  line-height: 1.5;
  text-align: justify;
}

a {
  color: #3cc3e0;
  text-decoration: underline;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
  color: #53d4f0;
  text-decoration: none;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}