.mainContainer {
    align-items: center;
    text-align: center;
    margin-top: auto;
    margin-bottom:auto;
}

.header {
    margin-bottom: 1rem;
}

.byLine {
    font-weight: 600;
    font-size: 2.5rem;
    text-decoration: underline;
    text-decoration-line: overline;
    padding-bottom: 2rem;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.socials p {
    width: auto;
    text-align: center;
}

.blogCardContainer {
    padding: 2rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    background-color: var(--background-color-darkened);
}

.blogContainerHeading {
    margin-top: 0;
    margin-bottom: 0;
}