.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    margin-bottom:auto;
    width: auto;
}

.divider {
    display: block;
    width: 100%;
    border: 0;
    border-radius: 1px;
    height: 3px;
    background-color: var(--accent1);

    animation: grow 0.4s ease-in-out forwards;
    transform-origin: left;
}

@keyframes grow {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
    
}

.socials {
    display: flex;
    justify-content: center;

    margin-top: 3rem;
    padding: 0.5rem 1rem 0.5rem 1rem;

    gap: 1rem;
    border-radius: var(--border-radius);
    background-color: var(--background-color-darkened);
    flex-wrap: wrap;
}

.socials p {
    width: auto;
    text-align: center;
}

.blogCardContainer {
    padding-top: 3rem;;
    display: flex;
    justify-content: center;
}

.blogCardReadMore {
    display: flex;
    justify-content: end;
}

.blogCardReadMore p {
    margin-top: 0;
    margin-bottom: 0;
}
