<div class="giscus-container">
  <script src="https://giscus.app/client.js"
          is:inline
          data-repo="SamBWagner/port-flow"
          data-repo-id="R_kgDOL3Qpng"
          data-category="Announcements"
          data-category-id="DIC_kwDOL3Qpns4C0U57"
          data-mapping="title"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="catppuccin_latte"
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
</div>

<style>
  .giscus-container {
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding-top: 3rem;
    border-top: 1px solid var(--accent1);
  }
</style>
