---
const { class: className = "" } = Astro.props;
---

<header class={`${className} headerContainer`}>
  <h1 id="heading-page-name" class="heading">
    <img src="/logo-xl.png" alt="Sam Wagner" class="logo" />
  </h1>
  <slot />
</header>

<style>
  .headerContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .heading {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .logo {
    max-width: 37rem;
    height: auto;
  }
</style>
