---
import "../styles/global.css";
---

<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Sam Wagner</title>
                <meta name="description" content="Sam Wagner's personal page discussing learning Rust and game development with Bevy.">
                <link rel="icon" type="image/png" href="/logo.png">
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400&family=Fira+Code:wght@400&family=Neuton:wght@200;300;400;700;800&display=swap" rel="stylesheet">
        </head>

        <body>
                <slot />
        </body>
</html>
