---
import "../styles/global.css";
import { Icon } from "astro-icon/components";

const { frontmatter } = Astro.props;
const { title, description, publishDate } = frontmatter;
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title} - Sam Wagner</title>
    <meta name="description" content={description}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400&family=Fira+Code:wght@400&family=Neuton:wght@200;300;400;700;800&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="container headerContainer">
      <a href="/" class="headerLink" title="Go back home">
        <p class="blogPageHeader">Sam Wagner</p>
      </a>
    </header>

    <main>
      <div class="blogHeader">
        <div class="container">
          <p class="releaseDate">{publishDate}</p>
        </div>
        <h1 class="container">
          {title}
        </h1>
      </div>

      <div class="container contentContainer">
        <slot />
      </div>
    </main>

    <footer class="container footer">
      <a href="/" class="homeLink" title="Go home">
        Sam Wagner
      </a>

      <ul class="socialsList">
        <li>
          <a href="https://github.com/SamBWagner" rel="nofollow" target="_blank" aria-label="GitHub profile">
            <Icon name="simple-line-icons:social-github" class="gitHub" />
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/sam-b-wagner" rel="nofollow" target="_blank" aria-label="LinkedIn profile">
            <Icon name="simple-line-icons:social-linkedin" class="linkedIn" />
          </a>
        </li>
      </ul>
    </footer>
  </body>
</html>

<style>
  .headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headerLink {
    text-decoration: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .blogPageHeader {
    font-family: var(--neuton), serif;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: var(--accent2);
  }
  
  .blogHeader {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .releaseDate {
    color: var(--accent1);
    font-style: italic;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .blogHeader h1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    max-width: var(--max-width);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    width: 100%;
  }

  .homeLink {
    font-size: 1.5rem;
    font-family: var(--neuton), 'sans-serif';
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #f4963e;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
  }

  .homeLink:hover {
    color: var(--accent1-link-hover);
    transform: scale(1.1);
    transition: color 0.2s ease-in-out, transform 0.2s ease;
  }

  .socialsList {
    display: flex;
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
  }

  .socialsList li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .gitHub, .linkedIn {
    font-size: 2rem;
    color: var(--accent1);
    transition: fill 0.3s ease, transform 0.3s ease;
  }

  .gitHub:hover, .linkedIn:hover {
    cursor: pointer;
    color: var(--accent1-link-hover);
    transform: scale(1.2);
  }
</style>

